# https://docs.github.com/en/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2

updates:
  - commit-message:
      include: "scope"
      prefix: "composer"
    directory: "/"
    target-branch: "develop"
    labels:
      - "php dependency"
    open-pull-requests-limit: 5
    package-ecosystem: "composer"
    schedule:
      interval: "daily"
    versioning-strategy: "increase"
